#!/bin/bash source
# grbl alias.sh configuration file

## Module configs

module[enabled]=true
module[color]=aqua
module[indicator_key]=esc

## Aliases
stopwatch="timer stopwatch"
# active="active"
# backup="backup"
# countdown="timer countdown"
# mqtt="mqtt"
# notes="note"
# radio="audio radio"
# kb="corsair"
# speak="say"
# stopwatch="timer stopwatch"
# tube="youtube"
# tubes="youtube search"
# tunel="tunnel"
# status="status"

aliases=()
aliases+=("stopwatch;timer stopwatch")
aliases+=("active;active")
aliases+=("backup;backup")
aliases+=("countdown;timer countdown")
aliases+=("mqtt;mqtt")
aliases+=("notes;note")
aliases+=("radio;audio radio")
aliases+=("kb;corsair")
aliases+=("speak;say")
aliases+=("stopwatch;timer stopwatch")
aliases+=("tube;youtube")
aliases+=("tubes;youtube search")
aliases+=("tunel;tunnel")
aliases+=("status;status")

# Multiline aliases

clean=(
	"convert webp -f"
    "convert webm -f"
    "place memes -f"
    "place mime move -f"
    )

connect=(
    "mount"
	)
    #"tunnel"

cloud=(
    "onedrive mount"
    "mount"
	)
    #"dropbox start"

clean=(
    "convert webp -f"
    "convert webm -f"
    "place memes -f"
    "place mime move -f"
	)

disconnect=(
    "daemon stop"
    "tunnel close all"
    "unmount all"
    "status"
	)








