#!/bin/bash
# guru-client audio.sh configuration file

[audio]
enabled=true

# playlist_call_name=(folder_location find_phrase options)
# currently supported options: 'R'=shuffle

playlist_tiede=($GURU_MOUNT_AUDIO/yle_puhe *tiede* R)
playlist_telineilla=($GURU_MOUNT_AUDIOBOOKS/Kalle_Paatalo-Ihmisia_telineilla *m4a)
# works also vith videos
playlist_pasila=($GURU_MOUNT_TV/pasila *mkv R)

# radio is included to audio.sh for now, config here
[radio]
wakeup_station='yle puhe'
