#!/bin/bash module
# grbl mount.sh configuration file

[mount]
enabled=true
indicator_key=f2

default_list=(grbl)

# color[0] and animation[1] 
# check gr.blink function in core/common.sh for animation types
mounted_ind=(agua partly)
system_ind=(blue system)
secred_ind=(deep_pink secred)
offline_ind=(orange offline)

# TODO: data default location?
# grbl=($HOME/grbl/.data /home/casa/grbl/data)

