#!/bin/bash module
# grbl mount.sh configuration file

[cloud]
server= 	# fulfill these!  
user=		# fulfill these! 
port=		# fulfill these! 

[mount]
# Is mount module active: set "true" when needed variables are set
enabled=

# Copy mount point location to clipboard after success mount
copy2clipboard=true 

# Corsair indicator key (if not set corsair disabled) --------
indicator_key=
mounted_ind=(agua partly)
system_ind=(blue system)
secred_ind=(deep_pink secred)
offline_ind=(orange offline)

# Example list -----------------------------------------------
default_list=(notes proxy_exsample notes_default)

# Examples mount points --------------------------------------

# Normal way: USER@SERVER:PORT:FOLDER
notes=($HOME/grbl/notes USER@SERVER:PORT:/mnt/DRIVE/FOLDER)

# When [cloud] server, user, port are fulfilled
notes_default=($HOME/grbl/notes /mnt/DRIVE/FOLDER)

# ssh proxy jump version, separator is "!"
proxy_exsample=($HOME/grbl/proxyed PROXY_USER@PROXY_SERVER:PROXY_PORT!USER@SERVER:PORT:/mnt/DRIVE/FOLDER)

