#!/bin/bash - just cause highlighting
# guru-client core configurations
# user configuration will overwrite most of these

# TBD more testing like with empty user.cfg, is even that ever tested?

call="guru"
rc="$HOME/.gururc"
bin="$HOME/bin"
cfg="$HOME/.config/guru"
app="$HOME/apps"
log="$HOME/guru/.data/guru-client.log"
install_type="desktop"
color=true
verbose=1

[system]
version="master" # TODO is this in use? remove is not
reserved_cmd=(status help ls list add set rm remove run export start stop plan)

[local] # local locations
trash="$HOME/guru/.data/trash"
applications="$HOME/apps"
counter="$HOME/guru/.data/counters"
project="$HOME/guru/.data/project"
worktrack="$HOME/guru/.data/timetrack"
accounting="$HOME/economics" # TODO is this in use? remove need of this

[file] # guru-client files
log="$HOME/guru/.data/guru-shell.log"
core_dump="$HOME/guru/.data/guru-shell.CORE_DUMP"
trackdata="$HOME/guru/.data/timetrack/current_work.csv"
tracklast="$HOME/guru/.data/timetrack/timer.last"
trackstatus="$HOME/guru/.data/timetrack/timer.status"
error_msg="/tmp/guru-last.error"

[test]
result="passed"


