#!/bin/bash - just cause highlighting
# guru-client user configuration file
# to send configurations to server type 'guru remote push' and
# to get configurations from server type 'guru remote pull'
# backup is kept at .config/guru/<user>/userrc.backup
# - use parenthesis '()' for list variables
# - if value contains spaces or variables use ""
# - when use variables as value be sure that variable is set before used
# - you can use previously set variable as variable:
#   when rc is generated 'GURU_', [chapter] and key "name" are combined and upcased to 'GURU_CHAPTER_NAME'
#	 	[chapter]
#		name="example"
#	 	real_name="mr. $GURU_CHAPTER_NAME"     # will be "mr. example"

[user] # user settings
name=roger
full_name="Roger von Gullit"
team=ujo.guru
phone="+358 00000 000"
domain=ujo.guru
email="$GURU_USER_NAME@$GURU_USER_DOMAIN"

[access] # remote access point
username=$GURU_USER_NAME
domain=127.0.0.1
port=22
lan_ip=
lan_port=
key_file="$HOME/.ssh/ujo.guru_id_rsa"

[mqtt] # micro message bus
remote_server=
remote_port=
local_server=
local_port=
client=$(hostname)
username=
password=
key_file="$HOME/.ssh/mqtt.$(hostname)_id_rsa"

[cloud] # cloud server
domain=
port=
lan_ip=127.0.0.1
lan_port=22
username=$GURU_USER_NAME
key_file="$HOME/.ssh/ujo.guru_id_rsa"

[git] # project.cfg will overwrite these
remote=github
home="$HOME/git"
trials="$HOME/git/foray"
user=
email=
key_file="$HOME/.ssh/$GURU_GIT_REMOTE_id_rsa"

[android] # phone ssh connection
lan_ip=
lan_port=
username=
mountpoint="$HOME/android-phone"
password=

[local] # local locations
trash="$GURU_SYSTEM_MOUNT/trash"
counter="$GURU_SYSTEM_MOUNT/counters"
project="$GURU_SYSTEM_MOUNT/project"
worktrack="$GURU_SYSTEM_MOUNT/timetrack"
accounting="$HOME/Economics"
personal_accounting="$HOME/Economics/Personal"
chrome_data="$HOME/.config/chromium/$GURU_USER_EMAIL"

[mount] # local mount points usage: (mount_point remote_location)
notes=($HOME/notes /home/$GURU_USER_NAME/guru/notes)
templates=($HOME/templates /home/$GURU_USER_NAME/guru/templates)
pictures=($HOME/pictures /home/$GURU_USER_NAME/guru/pictures)
documents=($HOME/documents /home/$GURU_USER_NAME/guru/documents)
photos=($HOME/photos /home/$GURU_USER_NAME/guru/photos)
audio=($HOME/audio /home/$GURU_USER_NAME/guru/audio)
video=($HOME/videos /home/$GURU_USER_NAME/guru/videos)
music=($HOME/music /home/$GURU_USER_NAME/guru/music)

[preferred] # Preferred applications
editor="subl"
browser="firefox"
terminal="gnome-terminal"
office_doc="libreoffice"
office_spr="libreoffice"

[keybind] # Keyboard bindings
terminal="F1"
note="<Ctrl><Super>n"
datestamp=
timestamp="<Ctrl><Super>t"
signature=
picture_md=

[format] # Formats
date='%-d.%-m.%Y'
time='%H:%M:%S'

[note] # note settings
header="Notes $GURU_USER_FULL_NAME"
projects=$GURU_SYSTEM_MOUNT/sublime-projects
change_log=true

[color] # supported colors: red, green, yellow, white, cray, cyan, blue, brown, black, normal. lred, lgree, lyellow, lmagenta, lcray, lcyan, lblue
path_user=cyan
path_at=white
path_call=lcyan
path_sepa=white
path_dir=normal
path_input=normal

[flag] # flags
verbose=
color=true
audio=true

[youtube] # youtube apikey for mpsyt
api_key=

[corsair] # keyboard indicators
enabled=
mode=status