[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Categories=Freesi
Name=Toolkit
Comment=Freesi Installation Toolkit
Keywords=freesi;installation;tookit
Exec=bash ~/tools/run
StartupWMClass=scudcloud
Icon=~/tools/images/freesituuli-darkgray.png
Name[en_US]=toolkit.desktop
